<!DOCTYPE html>
<html>
<head>
    <title>Safety Incident Logger</title>
</head>
<body>
    <h2>Safety Incident Logger</h2>

    <h3>Add a New Incident</h3>
    <form method="POST">
        {% csrf_token %}
        <p><input type="text" name="title" placeholder="Title" required></p>
        <p><textarea name="description" placeholder="Description" required></textarea></p>
        <p><input type="text" name="category" placeholder="Category" required></p>
        <p><input type="text" name="country_issued" placeholder="Country Issued" required></p>

        <p>
            <select name="severity" required>
                <option value="">Select Severity</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
        </p>
        <button type="submit">Add Incident</button>
    </form>

    <h3>All Incidents</h3>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Severity</th>
            <th>Date Reported</th>
            <th>Description</th>
            <th>Country_issued</th>
        </tr>
        {% for inc in incidents %}
        <tr>
            <td>{{ inc.title }}</td>
            <td>{{ inc.category }}</td>
            <td>{{ inc.severity }}</td>
            <td>{{ inc.date_reported }}</td>
            <td>{{ inc.description }}</td>
            <td>{{ inc.country_issued }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No incidents found.</td></tr>
        {% endfor %}
    </table>
</body>
</html>
